{% extends "layout.html" %}
{% block title %} About {% endblock %}

{% block body %}

<h1 class="page-header"> Sobre mí </h1>

<p>Soy Juan Luis Suárez Díaz. Estudio Matemáticas e Ingeniería Informática en la Universidad de Granada.</p>

<h3> Contactos </h3>

<!--<div class="interact">-->
<!--
<ul>
    <li><i class="fa fa-twitter"></i> <a href="https://twitter.com/jlsuarezdiaz" target="_blank">Twitter</a></li>
    <li><i class="fa fa-github"></i>  <a href="https://github.com/jlsuarezdiaz" target="_blank">GitHub</a></li>
    
</ul>
-->
<!--</div>-->

<ul class="list-inline list-social-icons mb-0">
    <li class="list-inline-item">
      <a href="https://twitter.com/jlsuarezdiaz" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
    <li class="list-inline-item">
      <a href="https://github.com/jlsuarezdiaz" target="_blank">
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-github fa-stack-1x fa-inverse"></i>
        </span>
      </a>
    </li>
</ul>

{% endblock %}