{% extends "layout.html" %}

{% block title %}Búsqueda de restaurantes {% endblock %}

{% block body %}

<h1 class="page-header">Búsqueda de restaurantes</h1>

<p>Por favor, rellena los campos sobre los que desees realizar la búsqueda.</p>

<form action="/restaurants/" method="GET">
    <div class="row">   
        <div class="form-group col-xs-4">
            <label for="type">Tipo de cocina:</label>
            <input type="text" class="form-control" id="type" name="type">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-4">
            <label for="zone">Barrio:</label>
            <input type="text" class="form-control" id="zone" name="zone">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-4">
            <label for="cp">Código postal:</label>
            <input type="text" class="form-control" id="cp" name="cp">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-4">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
    </div>
    <div class="row">
        <div class="form-group col-xs-4">
            <label for="street">Calle:</label>
            <input type="text" class="form-control" id="street" name="street">
        </div>
    </div>
    <div class="row">
        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Buscar">
        </div>
    </div>
</form>



{% endblock %}
